.echarts{
    width: 100% !important;
    height: 100% !important;
}
.el-card__header{
    padding: 0 !important;
    border-bottom: none !important;
}
.el-menu.el-menu--horizontal{
    border:none !important;
}